{% extends "base.html.twig" %}

{% block body %}

<button class="btn btn-success">
    <a href="{{path('sendMail', {'id': user.id })}}"> Veuillez cliquer ici pour recevoir un mail de confirmation</a>
</button>
{% endblock %}