{% extends "base.html.twig" %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(formPassword) }}
        {{ form_row( formPassword.password, { 'label': 'Mot de Passe', 'attr' : {'placeholder': 'Mot de passe ...', 'minlength': '8'}}) }}
        {{ form_row( formPassword.confirmPassword, { 'label': 'Confirmation Mot de Passe', 'attr' : {'placeholder': 'Confirmation Mot de Passe ...', 'minlength': '8'}}) }}
    <button type="submit" class="btn btn-success">Inscription ! </button>
    {{ form_end(formPassword)}}
    {% if error1 == true %}
    <div class="text-danger">Les mots de passes sont différents !</div>
    {% endif %}
    

{% endblock %}