{% extends "base.html.twig" %}

{% block body %}
	<div class="col-md-9 border p-4 bg-white mx-auto">
		<h1 class="p-2 text-center font-MF border-bottom border-primary">
			Changer de mot de passe
		</h1>
		{{ form_start(formPassword) }}
		{{ form_row( formPassword.password, { 'label': 'Mot de Passe'}) }}
		{{ form_row( formPassword.passwordConfirm, { 'label': 'Confirmation Mot de Passe'}) }}
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-success my-3 font-MF">
				Valider
			</button>
		</div>
		{{ form_end(formPassword)}}
		{% if error1 %}
			<div class="text-danger">Les mots de passes sont différents</div>
		{% endif %}
	</div>
{% endblock %}
