{% extends "base.html.twig" %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(formPassword) }}
        {{ form_row( formPassword.password, { 'label': 'Mot de Passe', 'attr' : {'placeholder': 'Mot de passe ...'}}) }}
        {{ form_row( formPassword.passwordConfirm, { 'label': 'Confirmation Mot de Passe', 'attr' : {'placeholder': 'Confirmation Mot de Passe ...'}}) }}
    <button type="submit" class="btn btn-success">Inscription ! </button>
    {{ form_end(formPassword)}}
{% endblock %}