{% extends "base.html.twig" %}

{% block body %}
	<div class="col-md-9 border p-4 bg-white mx-auto">
		<h3 class="p-2 text-center font-MF border-bottom border-primary">Votre adresse mail à bien été confirmée</h3>
		<p class="text-center">
			<a href="{{path('home')}}" class="btn btn-success">
				Retournez au blog
			</a>
		</p>
	</div>
{% endblock %}
