{% extends "base.html.twig" %}

{% block body %}
<h3>Votre adresse mail à bien été confirmer</h3>
<p class="text-center">
    <a href="{{path('blog')}}" class="btn btn-success">
        Cliquez-ici pour vous rediriger sur le blog
    </a>
</p>
{% endblock %}