{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(formCategory) }}
    {{ form_row(formCategory.name) }}
    <button type="submit" class="btn btn-success">
        Ajouter !
    </button>
    {{ form_end(formCategory) }}

{% endblock %}
