.arrow {
  right: 2%;
  bottom: 2%;
  font-size: 40px;
  font-weight: bold;
  position: fixed;
}

.col-lg-2V {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  max-width: 18%;
}

.mt-nav {
  margin-top: 56px !important;
}
.masthead {
  height: 100vh;
  background-image: url('images.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead_show {
  height: 100vh;
  background-image: url('images.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Marker-Felt";
  src: url('Marker-Felt.ttf') format('truetype');
  font-weight: normal;
  font-style: lighter;
}

.font-MF{
  font-family: "Marker-Felt";
  letter-spacing: 0.1rem;
}

.bg-img{
  min-height: 100vh;
  background-image: url('snow.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}