{% extends 'base.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}
<section class="articles">

    {% for user in users %}
        <article>
            <h2>{{ user.email }}</h2>
            <div class="metadata">Créer le {{ user.dateCreated | date('d/m/Y') }} à {{ user.dateCreated | date('H:i') }} </div>
            <div class="metadata">Pseudo : {{ user.username }}</div>
        </article>        
    {% endfor %}
   
</section>
{% endblock %}